.inputElementeHeader {
  display: grid;
  grid-template-columns: 2fr 3fr;
  max-width: 600px;

  .AKSLabel {
    font-weight: bold;
    //margin-bottom: 15px;
  }
  .AKSInput{
    margin-bottom: 15px;
  }
  .AKSInput.ng-untouched {
    margin-bottom: 15px;
  }
  .AKSInput.ng-valid[required], .AKSInput.ng-valid.required  {
    border-bottom: 5px solid #42A948; /* green */
    margin-bottom: 15px;
  }

  .inputCheckbox {
    display: flex;
    flex-direction: column;
     .example-margin {
      min-width: 200px;
      margin: 15px;
    }
  }

}

input{
  font-size:16px;
}
